body {
    color: #1b1b3d;
    background-image: linear-gradient(#2d2e75, #383a9f, #3a3cb1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: grid;
    text-align: center;
    justify-items: center;
    align-items: center;
    border-color: #e42c2c;
    border-style: solid;
    border-width: 10px;
    margin: 1vw 12vw;
    padding: 1vw 2vw;
}

.subcontent {
    background-color: #6163d8;
    padding: 1vw;
    margin: .5vw;

}

img {
  display: block;
  margin: auto; 
}

header {
    color: #20214b;
    background-color: #6163d8;
    font-size: 75%;
    padding: 0 2vw;
}

h2 {
    color: #6163d8;
    font-size: 200%;
    text-align: center;
}

#quiz .subtitle {
margin-bottom: 0;
}

#imgce {
    background-color: transparent;
}

.current {
    background-color: #9091f0;
}

.char {
    width: 75%;
}
#imgsonic {
    width: 85%;
}
#imgemblem {
    width:70%;
}
#imghint {
    width:47%;
}

.title { grid-area: title; }
.subtitle { grid-area: subtitle; }
#sonicsworld { grid-area: sonicsworld; }
#about { grid-area: about; }
#sources0 { grid-area: sources0; }
#sources1 { grid-area: sources1; }
#sources2 { grid-area: sources2; }
#sources3 { grid-area: sources3; }
#ancients { grid-area: ancients; }
#gaians { grid-area: gaians; }
#babylonians { grid-area: babylonians; }
#destroyed { grid-area: destroyed; }
#animals { grid-area: animals; }
#animal_friends { grid-area: animal_friends; }
#humans { grid-area: humans; }
#station_square { grid-area: station_square; }
#angel_island { grid-area: angel_island; }
#green_hill { grid-area: green_hill; }
#soleanna { grid-area: soleanna; }
#res { grid-area: res; }
#eggman_empire { grid-area: eggman_empire; }
#gun { grid-area: gun; }
#death_egg { grid-area: death_egg; }
#little_planet { grid-area: little_planet; }
#ark { grid-area: ark; }
#moon { grid-area: moon; }
#lost_hex { grid-area: lost_hex; }
#chaos_emeralds { grid-area: chaos_emeralds; }
#master_emerald { grid-area: master_emerald; }
#time_stones { grid-area: time_stones; }
#ruby { grid-area: ruby; }
#topaz { grid-area: topaz; }
#flood { grid-area: flood; }
#black_arms_inv { grid-area: black_arms_inv; }
#raid { grid-area: raid; }
#shattered_world { grid-area: shattered_world; }
#war { grid-area: war; }
#metal_virus { grid-area: metal_virus; }
#wisps { grid-area: wisps; }
#black_arms { grid-area: black_arms; }
#chao { grid-area: chao; }
#sonic { grid-area: sonic; }
#eggman { grid-area: eggman; }
#shadow { grid-area: shadow; }
#knuckles { grid-area: knuckles; }
#quizbox { grid-area: quizbox; }
#form { grid-area: form; }
#current-reviews { grid-area: current-reviews; }

#imgwisp { grid-area: imgwisp; }
#imgblackarms { grid-area: imgblackarms; }
#imgchao { grid-area: imgchao; }
#imgce { grid-area: imgce; }
#imgme { grid-area: imgme; }
#imgtime { grid-area: imgtime; }
#imgruby { grid-area: imgruby; }
#imgtopaz { grid-area: imgtopaz; }
#imganctochao { grid-area: imganctochao; }
#imgdeathegg { grid-area: imgdeathegg; }
#imglp { grid-area: imglp; }
#imgark { grid-area: imgark; }
#imgmoon { grid-area: imgmoon; }
#imglosthex { grid-area: imglosthex; }
#imgres { grid-area: imgres; }
#imgeggman { grid-area: imgeggman; }
#imggun { grid-area: imggun; }
#imgai { grid-area: imgai; }
#imggh { grid-area: imggh; }
#imgsoleanna { grid-area: imgsoleanna; }
#imgaf { grid-area: imgaf; }
#imghuman { grid-area: imghuman; }
#imgflood { grid-area: imgflood; }
#imgraid { grid-area: imgraid; }
#imginv { grid-area: imginv; }
#imgvirus { grid-area: imgvirus; }
#imgstsq { grid-area: imgstsq; }
#imgsonic { grid-area: imgsonic; }
#imgegg { grid-area: imgegg; }
#imgshadow { grid-area: imgshadow; }
#imgknuckles { grid-area: imgknuckles; }
#imgearth { grid-area: imgearth; }
#imgemblem { grid-area: imgemblem; }
#imghint { grid-area: imghint; }

#quizbox {
    font-family: inherit;
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr 1fr 7fr; 
}

#choices {
  display: grid;
  gap: 10px;
  grid-template-columns: 15vw;
  margin:auto;
}

#qnum {
    color: #20214b;
    background-color: #6163d8;
    font-size: 125%;
    font-weight: bold;
}
#q {
    color:#9091f0;
    font-size: 130%;
}

#form {
    color:#9091f0;
}

button {
  display: block;
  padding: 10px 20px;
  background-color: #9091f0;
  color: #20214b;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #6163d8;
}

a:link {
  text-decoration: underline;
  color: #6c1717;
}

a:visited {
  text-decoration: underline;
  color: #770c0c;
}

a:hover {
  text-decoration: underline;
  color: #380d0d;
}

a:active {
  text-decoration: underline;
}

#primary-nav a {
    color: inherit;
    text-decoration:inherit;
}

#aliens {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    'title title title'
    'subtitle subtitle subtitle'
    'wisps wisps wisps'
    'imgwisp imgwisp imgwisp'
    'black_arms black_arms imgblackarms'
    'imgchao chao chao'

}

#cite {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    'title title title'
    'subtitle subtitle subtitle'
    '. sources0 .'
    'sources1 sources1 sources1'
    'sources2 sources2 sources2'
    'sources3 sources3 sources3'

}

#gemstones {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    'title title title'
    '. subtitle .'
    'chaos_emeralds chaos_emeralds chaos_emeralds'
    'imgce imgce imgce'
    'imgme master_emerald master_emerald'
    'time_stones time_stones imgtime'
    'imgruby ruby ruby'
    'topaz topaz imgtopaz'

}

#history {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    'title title title'
    '. subtitle .'
    'ancients ancients imganctochao'
    'gaians gaians gaians'
    'babylonians babylonians babylonians'
    '. destroyed .'

}

#overview {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    'title title title'
    '. subtitle .'
    'imgearth about imgemblem'
    'sonicsworld sonicsworld sonicsworld'

}

#oddities {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    'title title title'
    '. subtitle .'
    'death_egg death_egg imgdeathegg'
    'imglp little_planet little_planet'
    'ark ark imgark'
    'imgmoon moon moon'
    'lost_hex lost_hex imglosthex'


}

#organizations {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    'title title title'
    '. subtitle .'
    'res res imgres'
    'imgeggman eggman_empire eggman_empire'
    'gun gun imggun'

}

#places {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    'title title title'
    '. subtitle .'
    'station_square station_square imgstsq'
    'imgai angel_island angel_island'
    'green_hill green_hill imggh'
    'imgsoleanna soleanna soleanna'

}

#population {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    'title title title'
    'subtitle subtitle subtitle'
    'animals animals animals'
    'animal_friends animal_friends imgaf'
    'imghuman humans humans'
}

#tragedies {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    'title title title'
    '. subtitle .'
    'imgflood flood flood'
    'raid raid imgraid'
    'imginv black_arms_inv black_arms_inv'
    'shattered_world shattered_world shattered_world'
    'war war war'
    'metal_virus metal_virus imgvirus'

}

#characters {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    'title title title'
    '. subtitle .'
    'imgsonic sonic sonic'
    'eggman eggman imgegg'
    'imgshadow shadow shadow'
    'knuckles knuckles imgknuckles'

}

#quiz {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    'title title title'
    '. subtitle .'
    '. imghint .'
    'quizbox quizbox quizbox'

}

#reviews {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    'title title title'
    '. subtitle .'
    '. form .'
    'current-reviews current-reviews current-reviews'

}

@media only screen and (max-width: 800px) {
    img {
        width:50%;
    }

    .char {
        width:50%;
    }


    main {
        margin: 1vw 2vw;
    }

    #aliens {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'title'
        'subtitle'
        'wisps'
        'imgwisp'
        'black_arms' 
        'imgblackarms'
        'chao'
        'imgchao'

    }

    #cite {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'title'
        'subtitle'
        'sources0'
        'sources1'
        'sources2'
        'sources3'

    }

    #gemstones {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'title title title'
        'subtitle'
        'chaos_emeralds'
        'imgce'
        'master_emerald'
        'imgme'
        'time_stones'
        'imgtime'
        'ruby'
        'imgruby'
        'topaz'
        'imgtopaz'

    }

    #history {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'title'
        'subtitle'
        'ancients'
        'imganctochao'
        'gaians'
        'babylonians'
        'destroyed'

    }

    #overview {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'title'
        'subtitle'
        'imgoverview'
        'imgemblem'
        'about'
        'imgearth'
        'sonicsworld'

    }

    #oddities {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'title'
        'subtitle'
        'death_egg'
        'imgdeathegg'
        'little_planet'
        'imglp'
        'ark'
        'imgark'
        'moon'
        'imgmoon'
        'lost_hex'
        'imglosthex'


    }

    #organizations {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'title'
        'subtitle'
        'res' 
        'imgres'
        'eggman_empire'
        'imgeggman'
        'gun'
        'imggun'

    }

    #places {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'title'
        'subtitle'
        'station_square'
        'imgstsq'
        'angel_island'
        'imgai'
        'green_hill' 
        'imggh'
        'soleanna'
        'imgsoleanna'

    }

    #population {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'title'
        'subtitle'
        'animals'
        'animal_friends' 
        'imgaf'
        'humans'
        'imghuman'
    }

    #tragedies {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'title'
        'subtitle'
        'flood'
        'imgflood'
        'raid'
        'imgraid'
        'black_arms_inv'
        'imginv'
        'shattered_world'
        'war'
        'metal_virus'
        'imgvirus'
    }

    #characters {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'title'
    'subtitle'
    'sonic'
    'imgsonic'
    'eggman'
    'imgegg'
    'shadow'
    'imgshadow'
    'knuckles'
    'imgknuckles'

}

#quiz {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'title'
    'subtitle'
    'imghint'
    'quizbox'

}

#reviews {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'title'
    'subtitle'
    'form'
    'current-reviews'

}

#choices {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

#q {
    color:#9091f0;
    font-size: 80%;
}

}